* {
  box-sizing: border-box;
  user-select:none;
}

 body {
  margin:0;
  padding:0;
  overflow: hidden;
  color: #fff;
  font: normal 18px 'Roboto', Helvetica, sans-serif;  
}

canvas {
  margin:auto;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
}


.overlay { 
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.sliders-container {
  width: 400px;
  background-color: transparent;
}